{% extends "base.html" %}


{% block content %}

<h1>ListView</h1>

{% for vehicule in vehicules %}
    <a href="{% url 'vehicules:detail-vehicule' vehicule.pk %}">
    <p>{{ vehicule.marque }} {{ vehicule.modele }} {{ vehicule.prix_achat }} {{ vehicule.prix_vente }} {{ vehicule.marge_fiscale }} {{ vehicule.marge_interne }}</p>

{% endfor %}

{% if is_paginated %}
    <!-- Page précédente -->
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">← Précédent</a>
    {% endif %}

    <!-- Numéro actuel / total -->
    <span>Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}</span>

    <!-- Page suivante -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Suivant →</a>
    {% endif %}
{% endif %}

{% endblock content %}