{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    {% block title %}{% endblock title %}
</head>
<body>
<div class="bg-glow"></div>


<!-- ===================== NAVBAR ===================== -->
<nav class="navbar">
    <a href="/" class="navbar-brand">Mes <span>Véhicules d'occasion</span></a>
    <a href="{% url 'admin:index' %}" class="navbar-login">Connexion</a>
</nav>

{% block content %}{% endblock content %}
    
    
    
    
    
    
    
    

    
</body>
</html>